.body {
  background-image: url(../Assets/spaces.jpg);
  background-repeat: no-repeat;
}
.body .wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.body .wrapper .title {
  padding: 15px 20px;
  font-size: 42px;
  color: cornflowerblue;
}
.body .wrapper .textarea {
  padding: 15px;
  width: 70%;
  max-width: 1280px;
  height: 200px;
  opacity: 0.6;
  resize: none;
  background-color: cornflowerblue;
  border: 5px solid colorBlack;
  font: 32px "Bruno Ace", monospace;
}
.body .wrapper .virtual-keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 10px;
  margin-top: 30px;
  border: 5px solid black;
  border-radius: 20px;
  background: darkgray;
}
.body .wrapper .virtual-keyboard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.body .wrapper .virtual-keyboard .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  margin-right: 10px;
  height: 50px;
  border-radius: 10px;
  border: 5px solid cornflowerblue;
  background-color: aliceblue;
  color: navy;
  font-size: 1.5rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.body .wrapper .virtual-keyboard .btn:hover {
  color: white;
  border-radius: 20px;
  background-color: darkslateblue;
  border: 5px solid white;
}
.body .wrapper .virtual-keyboard .medium {
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
}
.body .wrapper .virtual-keyboard .long {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
}
.body .wrapper .virtual-keyboard .spaceLong {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.body .wrapper .virtual-keyboard .arrowUp {
  margin-right: 75px;
}
.body .wrapper .virtual-keyboard .active {
  background-color: #c3a000;
  color: #333333;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}